.countDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.countDiv button {
    padding: 0.5rem;
    font-size: 2rem;
    color: white;
    border: 1px solid white;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    transition: 250ms;
}

#add {
    background-color: rgb(70, 206, 70);
}

#add:hover {
    background-color: rgb(0, 255, 0);
}

#dell {
    background-color: rgb(248, 77, 77);
}

#dell:hover {
    background-color: red;
}